<footer class="footer" id="footer">
  <div class="social-media">
    <ul>
        <li><a title="Discord" href="https://discord.com/invite/gHEHaxtwBT" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/discord.svg' | relative_url }}" alt="Discord"><p>Discord</p></a></li>
        <li><a title="TikTok" href="https://www.tiktok.com/@CeloZaga" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/tiktok.svg' | relative_url }}" alt="TikTok"><p>TikTok</p></a></li>
        <li><a title="YouTube" href="https://www.youtube.com/@CeloZaga?sub_confirmation=1" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/youtube.svg' | relative_url }}" alt="YouTube"><p>YouTube</p></a></li>
        <li><a title="X/Twitter" href="https://x.com/CeloZaga" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/x.svg' | relative_url }}" alt="X"><p>X</p></a></li>
        <li><a title="Bluesky" href="https://bsky.app/profile/celozaga.bsky.social" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/bluesky.svg' | relative_url }}" alt="Bluesky"><p>Bluesky</p></a></li>
        <li><a title="Threads" href="https://threads.net/@CeloZaga" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/threads.svg' | relative_url }}" alt="Threads"><p>Threads</p></a></li>
        <li><a title="Facebook" href="https://www.facebook.com/CeloZaga" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/facebook.svg' | relative_url }}" alt="Facebook"><p>Facebook</p></a></li>
        <li><a title="Reddit" href="https://reddit.com/u/Celo-Zaga" target="_blank" rel="noopener noreferrer"><img src="{{ '/static/media/icons/reddit.svg' | relative_url }}" alt="Reddit"><p>Reddit</p></a></li>
    </ul>
  </div>
  <div class="link-list">
    <ul>
      <li><a title="Terms of Service" href="https://docs.github.com/site-policy/github-terms/github-terms-of-service" target="_blank" alt=""><p>Terms of Service</p></a></li>
      <li><a title="Privacy Policy" href="https://docs.github.com/site-policy/privacy-policies/github-privacy-statement" target="_blank" alt=""><p>Privacy Policy</p></a></li>
      <li><a title="Portfolio" href="/portfolio" alt="Portfolio"><p>Advertise</p></a></li>
      <li><a title="Advertise" href="/advertise" alt="Advertise"><p>Advertise</p></a></li>
      <li><a title="Contact" href="/contact" alt="Contact"><p>Contact</p></a></li>
    </ul>
  </div>
  <p>© {{ site.time | date: "%Y" }} Celo Zaga. All rights reserved.</p>
</footer>
