<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="theme-color" content="#0F0F0F">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="{{ '/static/media/icons/favicon.ico' | relative_url }}" type="image/x-icon">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/static/media/icons/favicon-16x16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/static/media/icons/favicon-96x96.png' | relative_url }}"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/static/media/icons/favicon-32x32.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/media/icons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/static/media/icons/android-chrome-192x192.png' | relative_url }}">

<title>{{ page.title | default: site.title | escape }} | {{ site.title | escape }}</title>

{% if page.description %}
  <meta name="description" content="{{ page.description | escape }}">
{% else %}
  <meta name="description" content="{{ site.description | escape }}">
{% endif %}

{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | escape }}">
{% else %}
  <meta name="keywords" content="Celo Zaga, mobile games, Android games, iOS games, game releases, betas, leaks, gameplay, game reviews, game tips">
{% endif %}

<meta name="author" content="Celo Zaga">
<meta name="robots" content="index, follow">
<meta name="referrer" content="strict-origin-when-cross-origin">
<meta name="google-site-verification" content="ZRy99LLYrFFBbgGa4ijfe_s_W93p2_YNe39AyHXLDfc" />
<meta property="fb:pages" content="104765905779407">

<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:site_name" content="{{ site.title | escape }}" />
{% if page.layout == 'post' %}
  <meta property="og:type" content="article" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}
<meta property="og:title" content="{{ page.title | default: site.title | escape }}" />
<meta property="og:description" content="{{ page.description | default: site.description | escape }}" />
{% if page.image %}
  <meta property="og:image" content="{{ page.image | absolute_url }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="{{ page.title | escape }} image">
{% else %}
  <meta property="og:image" content="{{ '/static/media/og/celozaga.jpg' | absolute_url }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="Celo Zaga profile image">
{% endif %}
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: site.title | escape }}" />
<meta name="twitter:description" content="{{ page.description | default: site.description | escape }}" />
{% if page.image %}
  <meta name="twitter:image" content="{{ page.image | absolute_url }}">
  <meta name="twitter:image:alt" content="{{ page.title | escape }} image">
{% else %}
  <meta name="twitter:image" content="{{ '/static/media/og/celozaga.jpg' | absolute_url }}">
  <meta name="twitter:image:alt" content="CeloZaga profile image">
{% endif %}
<meta name="twitter:site" content="@CeloZaga">
<meta name="twitter:creator" content="@CeloZaga">

<link rel="canonical" href="{{ page.url | absolute_url }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<meta name="p:domain_verify" content="68b6c9f6afbded6881f949a04a1c48cb"/>
