<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="theme-color" content="#0F0F0F">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" href="https://celozaga.github.io/static/media/icons/favicon.ico" type="image/x-icon">
  <title>{{ page.title | default: site.title | escape }} | {{ site.title | escape }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}">
    <meta property="og:description" content="{{ page.description | escape }}">
    <meta name="twitter:description" content="{{ page.description | escape }}">
  {% else %}
    <meta name="description" content="{{ site.description | escape }}">
    <meta property="og:description" content="{{ site.description | escape }}">
    <meta name="twitter:description" content="{{ site.description | escape }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
<meta name="keywords" content="Celo Zaga, mobile games, Android games, iOS games, mobile gaming news, gacha games, mobile RPGs, game reviews, gameplay tips">
<meta name="author" content="Celo Zaga">
<meta name="robots" content="index, follow">
  <meta property="fb:pages" content="104765905779407">
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:site_name" content="{{ site.title | escape }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title | default: site.title | escape }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape }}" />
  {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}">
    <meta name="twitter:image" content="{{ page.image | absolute_url }}">
  {% endif %}
