<header class="header">
    <img class="avatar" src="{{ '/static/media/icons/avatar.png' | relative_url }}" alt="Avatar">
    <h1 class="username">Celo Zaga</h1>
    <p class="description">Community Leader and UGC Map Designer for Party Stars</p>
    <nav class="tabs">
        <ul>
            <li class="tab-item active" onclick="showSection(event, 'links')">Links</li>
            <li class="tab-item" onclick="showSection(event, 'news')">News</li>
            <li class="tab-item" onclick="showSection(event, 'videos')">Vídeos</li>
        </ul>
    </nav>
</header>
