<header class="header">

<section class="section profile">
    <img class="avatar" width="150px" height="150px" src="{{ '/static/media/avatar.webp' | relative_url }}" alt="Avatar">
    <h1 class="username">{{ site.title }}</h1>
    <p class="description">{{ site.description }}</p>
</section>

    <section class="search-homepage-section searchbox">
  <form action="/search/" method="get" class="search-form" role="search">
    <input type="text" id="homepage-search-input" name="q" placeholder="Search"aria-label="Search">
    <button type="submit" style="display:none;">Search</button>
  </form>

   <nav class="nav" aria-label="Navigation">
      <ul>
        <li><a href="/" aria-current="page">Home</a></li>
        <li><a href="/posts/">Latest News</a></li>
        <li><a href="/video/">Video</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>

</section>
</header>
