:root {
--white: #E3E3E3;
--gray: #C8CAC9;
--blue: #A8C7FA;
--red: #FF0033;
--surface: #282A2C;
--background: #131314;
}
* {
box-sizing: border-box;
}
a,b,p{line-height:20px}
a,ins{text-decoration:none}
a,svg{margin:0}
article,aside,logo,details,copyright,figcaption,figure,footer,header,hgroup,hr,menu,nav,section,svg{fill:var(--gray);display:block}
a,hr{padding:0}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
ins,mark{background-color:#ff9;color:#fff}
body{line-height:1}
li,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before,mark{font-style:italic;font-weight:700}
svg{width:20px;height:20px}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{height:1px;border:0;border-top:1px solid #7c7c7c45;margin:1em 0}
input,select{vertical-align:middle}
.widget ul{padding:0;margin:0;line-height:0}
.widget{border:0;margin:0;padding:0;line-height:0}
a,a:link.a:visited,a:hover,a:active{text-decoration:none;color:#fff;}
.left{float:left}
.right{float:right}

body {
font-family: Roboto, sans-serif;
background: var(--background);
color: var(--white);
padding: 0;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
      color: white;
      padding: 10px;
    }
.header-page{
    padding: 20px;
    height: 50px;  
    }
header h3 {
      margin: 0;
      font-size: 20px;
      line-height: 50px;
      font-weight: 700;
      display: inline-block;
      margin-left: 20px;
    }
header button {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    background: var(--surface);
    border-radius: 50%;
    border: 0;
    vertical-align: middle;
    display: inline-block;
}
header svg {
      width: 20px;
      height: 20px;
      fill: white;
      display: inline-block;
    }


main{
 max-width: 800px; 
 margin: 0 auto;
}

.post {
    background: var(--surface);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.post-list a {
    line-height: 20px;
    background: var(--surface);
    padding: 15px;
    display: block;
    margin: 20px;
    border-radius: 10px;
}

.social-media li {
    display: inline-block;
}
.social-media li a {
    padding: 20px;
    background: #000;
    display: block;
}
.social-media img {
    width: 20px;
    height: 20px;
    display: block;
}
.social-media p {
    display: none;
}
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
    padding: 20px;
    border-top: 1px solid var(--surface);
}
