:root {
--white: #E3E3E3;
--gray: #C8CAC9;
--blue: #A8C7FA;
--red: #FF0033;
--surface: #282A2C;
--background: #131314;
}
* {
box-sizing: border-box;
}
a,b,p{line-height:20px}
a,ins{text-decoration:none}
a,svg{margin:0}
article,aside,logo,details,copyright,figcaption,figure,footer,header,hgroup,hr,menu,nav,section,svg{fill:var(--gray);display:block}
a,hr{padding:0}
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
ins,mark{background-color:#ff9;color:#fff}
body{line-height:1}
li,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before,mark{font-style:italic;font-weight:700}
svg{width:20px;height:20px}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{height:1px;border:0;border-top:1px solid #7c7c7c45;margin:1em 0}
input,select{vertical-align:middle}
.widget ul{padding:0;margin:0;line-height:0}
.widget{border:0;margin:0;padding:0;line-height:0}
a,a:link.a:visited,a:hover,a:active{text-decoration:none;color:#fff;}
.left{float:left}
.right{float:right}

body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
background: var(--background);
color: var(--white);
padding: 0;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.hidden, .visually-hidden{
display: none;
}

.searchbox input {
    width: 100%;
    border: 0;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    background-color: var(--surface);
}
.searchbox button{
    display: none;
    font-size: 0px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

header {
    color: var(--white);
    padding: 20px;
    text-align: center;
}
.header-page {padding: 15px; width: auto; height: 80px; text-align: left;}

header h3 {
      margin: 0;
      font-size: 20px;
      line-height: 50px;
      font-weight: 700;
      display: inline-block;
      margin-left: 20px;
    }
header button {
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    background: var(--surface);
    border-radius: 50%;
    border: 0;
    vertical-align: middle;
    display: inline-block;
}
header svg {
      width: 20px;
      height: 20px;
      fill: white;
      display: inline-block;
    }

 .header-page {
    padding: 20px;
    width: auto;
    height: 70px;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #7c7c7c45;
  margin: 1em 0;
}
.section h1, .section h2 {
  font-size: 20px;
  margin: 20px 0;
}
main{
 max-width: 800px; 
 margin: 0 auto;
}
/* PROFILE */
.profile{
    color: var(--white);
    padding: 20px;
    text-align: center;
    background: #0000ff26;
    border-radius: 20px;
    max-width: 800px;
    margin: 20px auto;
}
.profile .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.profile .username {
    font-size: 25px;
    line-height: 25px;
    margin-bottom;
    color: var(--white);
}
.profile .description {
    max-width: 70%;
    margin: 0 auto;
    line-height: 20px;
    color: var(--white);
}


/* Tabs */

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0px;
  list-style-type: none;
  padding: 0;
  overflow-x: auto;
}
.nav ul li {
  display: inline-block;
  padding: 0;
  flex: auto;
}
.nav li a {
  display: block;
  line-height: 20px;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  border-bottom: 3px solid transparent;
}
.nav li a.active {
  color: #5865f2;
  border-bottom: 3px solid #5865f2;
}
.social-media-tab {
  width: 100%;
}
.social-media-tab ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  overflow-x: auto;
}
.social-media-tab li {
  text-align: center;
  justify-content: center;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
}
.social-media-tab li a {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: var(--surface);
  padding: 20px 50px;
  text-align: center;
}
.social-media-tab img {
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.social-media-tab a p {
  font-weight: 500;
}
.social-media-tab a[title="Discord"] p {
  color: #5865f2;
}

.social-media-tab a[title="YouTube"] p {
  color: #ff0e35;
}

.social-media-tab a[title="Bluesky"] p {
  color: #0085ff;
}

.social-media-tab a[title="Threads"] p {
  color: var(--white);
}

.social-media-tab a[title="Instagram"] p {
  color: #f500be;
}

.social-media-tab a[title="Facebook"] p {
  color: #0866ff;
}
.social-media-tab a[title="TikTok"] p {
  color: #ff3b5c;
}
.social-media-tab a[title="Reddit"] p {
  color: #ff0e35;
}
.social-media-tab a[title="X"] p {
  color: var(--white);
}
/* LIST LINK */
.list-link{}
.list-link ul{}
.link-list li { display: inline-block; }
.link-list a { color: var(--gray); line-height: 20px; padding: 15px; display: block; }
.list-link i{}
/* YouTube Videos */

.videos {
  width: 100%;
}

.videos ul{
  display: flex;
  gap: 20px; /* Espaço entre os itens */
  list-style-type: none;
  padding: 0;
  overflow-x: auto; /* Cria rolagem horizontal */
}

.videos li {
  flex: 0 0 400px;
}

.videos li a {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;

}
.videos h3 {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  font-weight: 400;
  margin: 10px 0px 20px 0px;
}
.videos svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
  opacity: 0.8;
  width: 50px;
  height: 50px;
}
.videos img {
  width: 100%;
  border-radius: 20px;
}


.news li a{
  display: block;
  position: relative;
  width: 100%;
  background: var(--surface);
  padding: 20px;
  border-radius: 60px;
  line-height: 20px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 20px;
}

/* POSTS */
.post {
    background: var(--surface);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.post h1 {
    color: var(--white);
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.post p {
    color: var(--white);
    line-height: 25px;
}
.post iframe {
    width: 100%;
    height: 100%;
    border: 0;
    position: relative;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 20px;
}
/* POST SHARE */
.post-share {
    margin: 20px;
}
.post-share ul {
    display: flex
;
    flex-wrap: wrap;
    gap: 10px;
}
.post-share li {
    justify-content: center;
    flex: 1;
}
.post-share a {
    background: var(--surface);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-share svg {
    width: 25px;
    height: 25px;
    display: block;
}
/* POST LIST */
.post-list a {
    line-height: 20px;
    background: var(--surface);
    padding: 20px;
    display: block;
    margin-bottom: 20px;
    border-radius: 60px;
}
/* SOCIAL MEDIA */
.social-media li {
    display: inline-block;
}
.social-media li a {
    padding: 15px;
    display: block;
    border-radius: 50%;
}
.social-media img {
    width: 25px;
    height: 25px;
    display: block;
}
.social-media span {
    display: none;
}
/* FOOTER */
.footer {
    text-align: center;
    color: var(--gray);
    padding: 20px;
    border-top: 1px solid var(--surface);
}
.footer .logo, .footer .social-media, .footer .link-list{
  margin-bottom: 20px;
}

details { background: var(--surface); margin-top: 20px; border-radius: 20px; padding: 20px; }
summary { font-weight: bold; cursor: pointer; display: flex; justify-content: space-between; align-items: center; padding: 0.6rem 1rem; list-style: none; }
summary::-webkit-details-marker { display: none; }
details[open] summary svg { transform: rotate(180deg);}