<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ '/static/style.css' | relative_url }}">
</head>
<body>
  {% if page.url == "/" or page.url == "/index.html" %}
    {% include header.html %}
  {% else %}
    {% include header-page.html %} 
  {% endif %}

  <main class="content">
    {{ content }}
  </main>

  {% include footer.html %}
  <script src="{{ '/static/scripts.js' | relative_url }}"></script>
  <script src="{{ '/static/pagination.js' | relative_url }}"></script> {# Se ainda estiver usando a paginação JS #}
</body>
</html>
